<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <title>Hamburger App</title>
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Muli&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/hamburger.js"></script>
</head>
<body>
    <nav class="navbar">
        <span class="navbar-brand mb-0 h1">Hamburger</span>
    </nav>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <p>
                <img src="burger.png" alt="hamburger" style="width:150px;height:150px;">
            </p>
            <p>
                List the different types of burger that you know!
            </p>
        </div>
        <div class="col-md-2">
        </div>
        {{{ body }}}
    </div>
</body>
</html>
