<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hamburger App</title>
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Muli&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/front.js"></script>
</head>

<body>
    <nav class="navbar">
        <span class="navbar-brand mb-0 h1">Hamburger</span>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <p>
                    <img src="/assets/images/burger-trans.png" alt="hamburger" style="width:150px;height:150px;">
                </p>
            </div>
            <div class="col-md-2">
            </div>
        </div>
            {{{ body }}}
    </div>
</body>

</html>